@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* Universal Styles Section */
.font-size-16{
    font-size: 1rem;
}

body{
    background-color: #1A0B2E;
}

/* Nav Section */

.nav-container{
    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.nav-name{
    color: white;
    font-size: 3rem;
    font-weight: 700;

}
#name-style{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
    border: none;
     border-radius: 50px;
     cursor: pointer;
    color: white;
    width: 135px;
    height: 44px;
    font-weight: 600;
    padding: 12px 16px;
   background: linear-gradient(-106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

nav i{
    background-color:transparent;
    padding-left: 4px;
}


hr{border: 0.5px solid #351165;}


/* main section */

/* techwave-logo */

.techwave-section{
    height: 760px;
   background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.techwave-img{
    width: 350px;
    height: 350px;
    padding: 0 auto;
    margin: 140px auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic{
    position: absolute;
    z-index: 2;
    padding:77px 116px 97px;

}

.circle{
    background-color: transparent;
}

.new-badge{
    
    border-radius: 50px;
    color: #1A0B2E;
    font-size:1.15rem;
    font-weight: 600;
    position:absolute;
    top: 12px;
    right: 23px;
    background-color: #00FF88;
    padding: 8px 16px;
    z-index: 10;
    box-shadow: 0 3px 27px 0 #00FF88;
}

.techwave-link{
   text-align: center;
   gap: 8px;
   margin: 40px auto 0 auto;
   padding: 0 auto;
}

.techwave-link h2{
    color: white;
    font-size:3.75rem ;
    padding-bottom: 8px;
    margin: 0;
    /* padding-top: 40px; */
}

.techwave-link p{
    color: white;
     padding-top: 8px;
    padding-bottom: 24px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0 auto;
}

.techwave-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.spotify{
    cursor: pointer;
    width: 200px;
    height: 44px;
    gap: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}

.subscribe{
    background-color: transparent;
   cursor: pointer;
    width: 147px;
    height: 44px;
    gap: 8px;
    border: 1px solid #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #00FF88;
    border-radius: 50px;
}