@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* Universal Styles Section */
.font-size-16{
    font-size: 1rem;
}

body{
    background-color: #1A0B2E;
}

/*Button HOVER SECTION */
.nav-btn, .spotify, .subscribe {
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover, .spotify:hover, .subscribe:hover {
    transform: translateY(-3px);
    filter: brightness(1.2);
    cursor: pointer;

}

nav a:hover {
    color: #00FF88;}

/* Nav Section */

.nav-container{
    height: 76px;
    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.nav-tech{
    color: white;
    font-size: 3rem;
    font-weight: 700;

}
#nav-wave{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
    border: none;
     border-radius: 50px;
     cursor: pointer;
    color: white;
    width: 135px;
    height: 44px;
    font-weight: 600;
    padding: 12px 16px;
   background: linear-gradient(-106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

nav i{
    background-color:transparent;
    padding-left: 4px;
}

.nav-hr{
    width: 100%;
    margin: 0;
    border: none;
    height: 1px;
    background-color: #351165;
}

.nav-phn{
    cursor: pointer;
    visibility: hidden;
}


hr{border: 0.5px solid #351165;}


/* main section */

/* techwave-logo */

.techwave-section{
   background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.techwave-img{
    width: 350px;
    height: 350px;
    padding: 0 auto;
    margin:40px auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic{
    position: absolute;
    z-index: 2;
    padding:77px 116px 97px;

}

.circle{
    position: relative;
    background-color: transparent;
}

.new-badge{
    
    border-radius: 50px;
    color: #1A0B2E;
    font-size:1.15rem;
    font-weight: 600;
    position:absolute;
    top: 12px;
    right: 23px;
    background-color: #00FF88;
    padding: 8px 16px;
    z-index: 10;
    box-shadow: 0 3px 27px 0 #00FF88;
}

.techwave-link{
   text-align: center;
   gap: 8px;
   margin: 40px auto 0 auto;
   padding: 0 auto;
}

.techwave-link h2{
    color: white;
    font-size:3.75rem ;
    padding-bottom: 8px;
    margin: 0;
}

.techwave-link p{
    color: white;
     padding-top: 8px;
    padding-bottom: 24px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0 auto;
}

.techwave-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.spotify{
    cursor: pointer;
    width: 200px;
    height: 44px;
    gap: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}

.subscribe{
    background-color: transparent;
   cursor: pointer;
    width: 147px;
    height: 44px;
    gap: 8px;
    border: 1px solid #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #00FF88;
    border-radius: 50px;
}

.about hr{
    max-width: 1200px;
    width: 100%;
    opacity: 0.1;
    border: none;
    height: 1px;
    background-color: white;
    margin: 40px 0;
}

.about{
    text-align: center;
    color: white;
    margin: 0 auto;
}

.about-section{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
}

.about-section h2{
    font-weight: 700;
    color: white;
    font-size:3rem;
}

/* achievement section */

.achievement{
    margin-top: 160px;
}

.achievement-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin:0 auto;
    padding: 0 200px;
}

.achieve{
    padding: 0;
    margin: 0;
    text-align: center;}
.achieve h2{
        font-size: 3rem;
        color: #00FF88;
        font-weight: 900;
        margin: 0;
        transition: all 0.3s ease;
}

.achieve:hover h2{
    transform: scale(1.1);
    transition: all 0.3s ease;}


.achieve p{
    font-size: 1rem;
    opacity: 0.8;
    color: white;
    margin: 0;
    padding-top: 16px;
}

.why-choose{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.why-choose-title h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

.why-choose h2{
color: white;
font-size: 1rem;
font-weight: 700;
}

.why-choose p{
    font-size: 1rem;
    color: white;
}

.box1, .box2, .box3, .box4, .box5 {
    background-color: #351165;
    padding: 32px;
    border-radius: 24px;
    text-align: left;
    transition: all 0.3s ease;}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
    transform: scale(1.02);
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }

.why-choose-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "box1 box2 box2"
        "box3 box3 box4"
        "box5 box5 box4";

    gap: 30px   ;
    border-radius: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 100px;
}

/* yt section */

.yt-title{
    text-align: center;
    font-weight:700;
    font-size: 3rem;
    color: white;
    padding-bottom: 40px;
}


.yt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.yt-box1:hover, .yt-box2:hover, .yt-box3:hover {
    transform: scale(0.97);
}


.yt-box1, .yt-box2, .yt-box3 {
    background-color: #351165;
    display: flex;
    flex-direction: column;
    width:380px;
    height:100%;
    border-radius: 24px;
    transition: all 0.3s ease;}

.video{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.yt-box1 h3, .yt-box2 h3, .yt-box3 h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.yt-box1 p, .yt-box2 p, .yt-box3 p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.duration{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    color: #00ffa3;
    font-weight: bold;
    margin:12px 24px 24px;
    font-size: 14px;
}

.duration p{
    margin: 0;
}

/* Meet section */

.meet{
    margin: 120px auto;
    max-width: 1200px;
    
}


.meet-card{
    min-height: 280px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #351165;
    border-radius: 40px;
    margin: 60px auto;
    gap: 16px;
}

.meet-container h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 0 auto;
    padding-bottom: 40px;
    margin: 0 auto;
}

.host-info{
    width: 896px;
    gap: 16px;
}

.host-img{
    padding: 40px 24px 40px 40px;
}

.host-info h4{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.host-info p{
    color: white;
    opacity: 60%;
}


.icon{
     display: flex;
    gap: 12px;
    margin-top: 16px;
}

.h-icon {
padding: 8px;
border: 1px solid rgba(255,255,255,0.6);
border-radius: 50%;
object-fit: contain;
cursor: pointer;
transition: all 0.3s ease;
}

.h-icon:hover{
    border-color: transparent;
    transform: translateY(-3px);
}

/* footer section */

.footer-title{
    margin: 0 ;
    padding: 0;
    padding-top:40px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size:100vw 70vh;
    background-position: center;

}

.footer-title h2{
text-align: center;
color: white;
font-size: 4.5rem;
font-weight: 700;
padding-top: 40px;
margin-bottom: 0;

}

#footer-wave{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
}

.f-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
}

.f-icon:hover{
    transform: translateY(-4px);
    color: #00FF88;
}

.footer-icon span{
    font-size: 1rem;
    opacity: 60%;
    font-weight: 400;
}

.copyright{
    color: #FFFFFF;
    opacity: 60%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 120px;
    font-weight: 400;
}

/* MEDIA SCREEN SECTION */

@media screen and (max-width:576px)
{

* {
        max-width: 100%;
        box-sizing: border-box;
    }

    .nav-container{
        .nav-container {
        justify-content: space-between;
        padding: 0 20px;}
        
    }
    .navbar ul{
        visibility: hidden;
    }

    .nav-btn {
        display: none;
    }
    
    .nav-phn{
        visibility: visible;
    padding: 0;}

    .navbar{
        width: 440px;
        background-size: cover;
    }

    .nav-hr{
        width: 100%;
    }

    .nav-tech{font-size: 2rem;}

    .about, .yt, .meet{
        margin-left: 20px;
    }

    .techwave-img {
        width: 250px;
        height: 250px;
    }
    .techwave-link h2 { font-size: 2rem; }



.circle{
    width: 200px;
    height: 200px;
    position: relative;
}
.mic{
   width: 47px;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.achievement-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 20px;
}

.about-section h2{
    font-size: 2rem;
}

.about-section p{
    font-size: 1rem;
}

.achieve h2 {
        font-size: 2.5rem;}

.achieve p{
    font-size: 1rem;
}

.why-choose-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: none;
    gap: 16px;

}

.box1, .box2, .box3, .box4, .box5{
    grid-area: auto;
    width: 100%;
}

.yt-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.meet-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.meet-card p, .meet-card h4{
    padding: 0;
    margin: 16px 24px;
}

.host-img{
    margin-top: 24px;
    margin-bottom: 16px;
    padding :0;
}

.icon{
    justify-content: center;
    margin-bottom:14px;

}

.footer-title{
    background-size: 115vh 100vw;
}


.footer-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
        margin:24px 70px;
    }

.footer-title h2{
    margin: 0;
    padding:0 ;

}


    .copyright {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

}


