@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* Universal Styles Section */
.font-size-16{
    font-size: 1rem;
}

*{
    /* max-width: 1600px; */
}

body{
    background-color: #1A0B2E;
}

/* Nav Section */

.nav-container{
    height: 76px;
    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.nav-tech{
    color: white;
    font-size: 3rem;
    font-weight: 700;

}
#nav-wave{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
    border: none;
     border-radius: 50px;
     cursor: pointer;
    color: white;
    width: 135px;
    height: 44px;
    font-weight: 600;
    padding: 12px 16px;
   background: linear-gradient(-106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

nav i{
    background-color:transparent;
    padding-left: 4px;
}


hr{border: 0.5px solid #351165;}


/* main section */

/* techwave-logo */

.techwave-section{
   background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.techwave-img{
    width: 350px;
    height: 350px;
    padding: 0 auto;
    margin:140px auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: visible; */
}

.mic{
    position: absolute;
    z-index: 2;
    padding:77px 116px 97px;

}

.circle{
    position: relative;
    background-color: transparent;
}

.new-badge{
    
    border-radius: 50px;
    color: #1A0B2E;
    font-size:1.15rem;
    font-weight: 600;
    position:absolute;
    top: 12px;
    right: 23px;
    background-color: #00FF88;
    padding: 8px 16px;
    z-index: 10;
    box-shadow: 0 3px 27px 0 #00FF88;
}

.techwave-link{
   text-align: center;
   gap: 8px;
   margin: 40px auto 0 auto;
   padding: 0 auto;
}

.techwave-link h2{
    color: white;
    font-size:3.75rem ;
    padding-bottom: 8px;
    margin: 0;
    /* padding-top: 40px; */
}

.techwave-link p{
    color: white;
     padding-top: 8px;
    padding-bottom: 24px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0 auto;
}

.techwave-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.spotify{
    cursor: pointer;
    width: 200px;
    height: 44px;
    gap: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}

.subscribe{
    background-color: transparent;
   cursor: pointer;
    width: 147px;
    height: 44px;
    gap: 8px;
    border: 1px solid #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #00FF88;
    border-radius: 50px;
}

.about hr{
    max-width: 1200px;
    width: 100%;
    opacity: 0.1;
    border: none;
    height: 1px;
    background-color: white;
    margin: 40px 0;
}

.about{
    /* border: 2px solid green; */
    text-align: center;
    color: white;
    margin: 0 auto;
}

.about-section{
    border: 3px solid red;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.about-section h2{
    font-weight: 700;
    color: white;
    font-size:3rem;
}

/* achievement section */

.achievement{
    margin-top: 160px;
    /* border: 2px solid green; */
}

.achievement-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid green; */
    gap: 80px;
    margin:0 auto;
    padding: 0 200px;
}

.achieve{
    /* gap: 16px; */
    padding: 0 auto;
    margin: 0;
    text-align: center;}
.achieve h2{
        font-size: 3rem;
        color: #00FF88;
        font-weight: 900;
        margin: 0;
        transition: all 0.3s ease;
}

.achieve:hover h2{
    transform: scale(1.1);
    transition: all 0.3s ease;}


.achieve p{
    font-size: 1rem;
    opacity: 0.8;
    color: white;
    margin: 0;
    padding-top: 16px;
}

.why-choose{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.why-choose-title h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

.why-choose h2{
color: white;
font-size: 1.rem;
font-weight: 700;
}

.why-choose p{
    font-size: 1rem;
    color: white;
}

.box1, .box2, .box3, .box4, .box5 {
    background-color: #351165;
    padding: 32px;
    border-radius: 24px;
    text-align: left;
    transition: all 0.3s ease;}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
    transform: scale(1.02);
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }

.why-choose-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "box1 box2 box2"
        "box3 box3 box4"
        "box5 box5 box4";

    gap: 30px   ;
    border-radius: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 100px;
}

/* yt section */

.yt-title{
    text-align: center;
    font-weight:700;
    font-size: 3rem;
    color: white;
    padding-bottom: 40px;
}

.yt{
    /* border: 2px solid green; */

}

.yt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.yt-box1:hover, .yt-box2:hover, .yt-box3:hover {
    transform: scale(0.97);
    border-color: #7222d3;
}

.yt-container img {
    width: 16px;
    margin-left: 20px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}


.yt-container iframe {
    width: 100%; 
    border: none;
}

.yt-box1, .yt-box2, .yt-box3 {
    background-color: #351165;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width:380px;
    height:480px;
    padding-left:24px;
    padding-right:24px;
    border-radius: 24px;
    transition: all 0.3s ease;}

.yt-box1 h3, .yt-box2 h3, .yt-box3 h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.yt-box1 p, .yt-box2 p, .yt-box3 p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
}

.duration{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left:24px;
    padding-right:24px;
    box-sizing: border-box;
    gap: 8px;
    color: #00ffa3;
    font-weight: bold;
    font-size: 14px;
}

.duration p{
    margin: 0;
}

/* Meet section */

.meet{
    border: 2px solid red;
    margin-top: 120px;
    margin: 0 auto;
    width: 1200px;
    
}

.meet-person{
    
}

.meet-container{
    max-width: 1200px;
}

.meet-card{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #351165;
    padding: 60px;
    border-radius: 40px;
    margin: 60px auto;
}

.meet-container h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.host-info{
    /* display: flex;
   flex-direction: column;
    align-items: end; */
    width: 896px;
    gap: 16px;
}


.host-info h4{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.host-info p{
    color: white;
    opacity: 60%;
}


.icon{
    display: flex;
    gap: 8px;
    border-radius: 1px solid white;
}

.h-icon img {
width: 20px;
height: 20px;
/* object-fit: contain; */
border: 1px solid #533C72;

border-radius: 30px;
/* background: transparent; */
}


/* footer section */

footer{
    width: 100%;
    margin: 0 auto;
    border: 2px solid pink;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center bottom; */
    height: 412px;
}

.footer-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 172px;
}

.footer-container{
    /* text-align: center; */
    margin: 32px 0;
    padding-top: 120px;
    padding-bottom: 32px;
    width: 100%;
    max-width: 1350px;
   
}

.footer-title{
text-align: center;
color: white;
font-size: 4rem;
font-weight: 700;

}

#footer-wave{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 40px;
    flex-wrap: wrap;
}

.f-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-icon span{
    opacity: 60%;
}

.copyright{
    color: #FFFFFF;
    opacity: 60%;
    text-align: center;
    padding-top: 32px;
    margin-bottom:120px ;
}