@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* Universal Styles Section */
.font-size-16{
    font-size: 1rem;
}

*{
    background-color: #1A0B2E;
}

/* Nav Section */

.nav-container{
    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.nav-name{
    color: white;
    font-size: 3rem;
    font-weight: 700;

}
#name-style{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
     border-radius: 50px;
     cursor: pointer;
    color: white;
    width: 135px;
    height: 44px;
    font-weight: 600;
    padding: 12px 16px;
   background: linear-gradient(-106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

nav i{
    background-color:transparent;
    padding-left: 4px;
}


hr{border: 0.5px solid #351165;}


/* main section */

/* techwave-logo */